.main{
    padding-top: 50px;
    align-items: center;
}
.main img{
    width: 300px;
    height: 300px;
    border-radius: 4px;
}
.border{
    width: 60px;
    height: 3px;
    background-color: #ccc;
    margin: 20px auto;
}


.main p{
    color: #888;
    padding: 0px 30px;
    font-size: 18px;
}

.main p{
    color: #888;
    padding: 0px 30px;
    font-size: 18px;
}
.page-link:hover {
    color: #eceaea !important;
    background-color: #000000 !important;
}
.page-item:hover{
    background-color: #000000 !important;
}

.border1{
    width: 90%;
}
.about{
    color: #888;
}
.content{
    text-align: center;
}
.bg{
    width: 1000px;
    padding: 10px 0;
}

.sm{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.car{
    display: flex;
}